ul {
    list-style-type: none;
    text-align:center;
    display: inline-block;
    padding-top: 30px;
}
li{
    border: 3px solid rgb(0,58,112);
    background: rgb(247, 247, 247);
    border-radius: 5%;
    width: 200px;
    font-size: 2em;
}
li:hover{
    border: 3px solid rgb(0, 0, 0);
    background: rgb(224, 224, 224);
}
img{
    width: 150px;
    height: 150px;
}
.buttonDiv{
    text-align: center;
}
button{
    width: 100px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}

.container{
    margin: 5px;
    padding: 5px;
    display: inline;
}