<div class="container">
    <div class="buttonDiv">
        <h1>Your pokemon collection</h1>
        <button class="btn btn-danger" (click)="handleLogoutClicked()">Logout</button>
    </div>
    <div class="caughtPokemon">
        <ul *ngFor="let index of list">
            <li (click)="handlePokemonClicked(index.details.name)">
                <p>{{index.details.name}}</p>
                <img src={{index.details.sprites.other.dream_world.front_default}} alt={{index.details.name}} />
            </li>
        </ul>
    </div>
</div>