<div>
    <nav class="navbar navbar-expand-lg static-top">
        <div class="container col-sm">
            <a class="navbar-brand justify-content-start" href="/catalogue">
                <img src="../../../assets/logo.png" alt="logo">
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/catalogue" id="catalogueTitle">Pokemon Catalogue
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trainer" id="trainerTitle">Trainer Page</a>
                </li>
            </ul>
        </div>
    </nav>
</div>