img {
    height: 100px;
    padding-bottom: 5px;
    padding-right: 10px;
}
.navbar {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgb(255, 97, 97) 50%, rgba(255,255,255,1) 100%);
    border-bottom: 2px solid black;
}
.navbar a{
    color: black !important;
    font-size:1.5em;
}
.navbar a:hover {
    color: rgb(82, 82, 82) !important;
    border-color: rgb(82, 82, 82) !important;
}
.navbar-brand{
    padding-left: 30px;
}
#catalogueTitle{
    text-decoration: underline;
}
#trainerTitle{
    text-decoration: underline;
}