<div>
    <p *ngIf="loadingPokemons">Loading pokemon...</p>
    <div class="buttonsDiv">
        <button class="btn btn-danger" *ngIf=!hasThisPokemon (click)="onCatchClicked()">Catch Pokemon</button>
        <button class="btn btn-warning" *ngIf=hasThisPokemon (click)="onReleaseClicked()">Release Pokemon</button>
    </div>

    <div *ngIf="pokemonDetails">
        <div class="pokemonDiv row">
            <div class="profile col-sm">
                <h2>Stats</h2>
                <ul>
                    <p>Height: {{ pokemonDetails.height }} cm</p>
                    <p>Weight: {{ pokemonDetails.weight }} grams</p>
                    <h6>Abilities:</h6>
                    <li class="abilities" *ngFor="let ability of pokemonDetails.abilities">
                        <p>{{ability.ability.name}}</p>
                    </li>
                    <p>Base experience: {{pokemonDetails.base_experience}}</p>
                </ul>
                <ul>
                    <h6>Types</h6>
                    <li class="types" *ngFor="let type of pokemonDetails.types" class="type">
                        <p>Type: {{ type.type.name }}</p>
                    </li>
                    <h6>Stats</h6>
                    <li class="stats" *ngFor="let stats of pokemonDetails.stats">
                        <p>{{stats.stat.name}} : {{stats.base_stat}}</p>
                    </li>
                </ul>
            </div>
            <div class="baseStats col-sm">
                <h1>{{ pokemonDetails.name }}</h1>
                <div class="avatar">
                    <img src={{pokemonDetails.sprites.other.dream_world.front_default}} class="avatar-img"
                        alt={{pokemonDetails.name}} width="150">
                </div>
            </div>
            <div class="moves col-sm">
                <ul>
                    <h2>Moves</h2>
                    <li class="moves" *ngFor="let move of pokemonDetails.moves">
                        <p>{{move.move.name}}</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>