
div{
    text-align: center;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    padding-right: 20px;
}
.pokemonDiv{
    margin-top: 20px;
}
img{
    width: 300px;
    height: 300px;
}