<div class="input-group mb-3 justify-content-center">
    <input type="text" name="trainername" id="trainername" class="inputBox" placeholder="Enter your trainer name..."
        [(ngModel)]="trainer.trainername" maxlength="25">
    <div class="input-group-append">
        <button class="btn btn-danger" type="button" id="button-addon2" (click)="onLoginClicked()">Login</button>
    </div>
</div>
<p *ngIf="inputError">Please enter a trainer name</p>