li {
    float: left;
    border: 3px solid rgb(0,58,112);
    background: rgb(247, 247, 247);
    border-radius: 3%;
    margin: 5px;
    height: 150px;
    width: 150px;
}
li:hover{
    border: 3px solid rgb(0, 0, 0);
    background: rgb(224, 224, 224);
}
p{
    font-size: 1.2em;
}
img {
    height: 100px;
    width: 100px;
}