<div>
    <h1>Welcome to the Pokémon Trainer website!</h1>
    <h3>Log in to start catching pokémon</h3>
    <div class="inputDiv">
        <app-login-form></app-login-form>
    </div>
    <img src="../../../assets/pokemon_logo.png" alt="logo" class="logo" />
</div>