<div class="bodyDiv">
    <div class="loading" *ngIf="!loadingPokemons">
        <h1>Hold on! <br>Fetching pokemons....</h1>
    </div>
    <div>
        <div class="container-fluid" *ngIf="loadingPokemons && pokemons">
            <ul>
                <app-pokemon-item *ngFor="let pokemon of pokemons.results" [thisPokemon]="pokemon"
                    (pokemonClicked)="handlePokemonClicked($event)">
                </app-pokemon-item>
            </ul>
        </div>
    </div>
</div>